$min-width: 100px;
;

@mixin transform($value) {
  -webkit-transform: ($value);
  -moz-transform: ($value);
  -ms-transform: ($value);
  transform: ($value);
}

@mixin transition($value) {
  -webkit-transition: ($value);
  -moz-transition: ($value);
  -ms-transition: ($value);
  transition: ($value);
}

body {
  color: #7F7F7F;
  width: 100%;
  height: 100%;
}

#menu-fixed {
  width: 100%;
  position: fixed;
  top: 0;
  list-style: none;
  background: white;
  font-weight: 400;
  display: inline-block;

  li {
    font-size: 0.8rem;
    display: inline-block;
    position: relative;
    padding: 15px 0px;
    cursor: pointer;
    width: 95px;
    text-align: center;
  }

  li a {
    text-decoration: none;
    color: #7F7F7F;

  }

  .drop {
    overflow: hidden;
    list-style: none;
    position: absolute;
    padding: 0;
    width: 100%;
    left: 0;
    top: 48px;

    div {
      @include transform(translate(0, -100%));
      @include transition(all 0.5s 0.1s);
      position: relative;
    }

    li {
      display: block;
      padding: 0;
      width: 100%;
      background: white !important;
    }

  }
  #marker {
    height: 6px;
    background: #7F7F7F !important;
    position: absolute;
    bottom: 0;
    width: 100px;
    z-index: 2;
    @include transition(all 0.35s);
  }

  @for $i from 1 through 5 {
    #menu-fixed li:nth-child(#{$i}) {

      &:hover ul div {
        @include transform(translate(0, 0));
      }

      &:hover ~ #marker {
        @include transform(translate(#{(-1+$i)*$min-width}, 0));
      }
    }
  }
}